/*-------------------------DESKTOP VIEW---------------*/
body{
	background-color: #F0F8FF;
	margin: 1%;
	padding:1%;
	}

header{
	padding: 20px;
	background-color: #A9A9A9;
	background-image:url("../img/doodle.jpg");
	}

nav{
	box-sizing: border-box;
	overflow: auto;
	}

nav h1{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px; 
	box-sizing: border-box;
	color: white;
   	text-shadow: 2px 2px 4px black;
	}

nav a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;
}
/*hover for nav a*/
nav a:hover{
	color: white;
	background-color: #CD853F;
	border-radius: 10px;
	}
aside p i{
	color: #20B2AA;
}
.left{
 	background: linear-gradient(to bottom, #ffffff 4%, #00ccff 100%);
 	width: 30%;
 	float:left;
 	padding: 5% 0;
 	/*padding-bottom: 5%;*/
 	}

.left img {
	border: solid 2px #000080;
	width: 80%;
	margin: 10%;
	height: 250px;
	} 

.right{
	background: linear-gradient(to bottom, #ffffff 4%, #00ccff 100%);
 	width: 30%;
 	float:right;
 	padding: 5% 0;
 	/*padding-bottom: 5%;*/
 	}

.right img{
	border: solid 2px #000080;
	width: 80%;
	margin: 10%;
	height: 250px;
	
	
}
.center{
	text-align: center;
	padding-bottom: 40px;
	}
/*.center h1,h2{
	font-style: italic;
	}
}*/	
.center h1{
	font-style: italic;
	font-size: 35px;
}
.center h2{
	text-align: right;
	margin-right: 27%;
	font-style: italic;
	font-size: 25px;
}	
.center h3{
	font-family: "Georgia";
	font-size: 20px;
}
.center p{
	font-family: sans-serif;
	font-size: 20px;
	color: #800080;
}
form{
	text-align: left;
	font-size: 20px;
	/*background: linear-gradient(to bottom, #ffffff 0%, #00ccff 100%);
	border: solid 2px #000080;*/
	
}

#container{
	min-height: 100vh;
	margin-bottom: -30px;
}
#container:after{
	content: "";
	display: block;
	height: 30px;
}
footer{
	background-image:url("../img/doodle.jpg");
	text-align: center;
	line-height: 30px;

}
footer a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	margin-top: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;

}
footer p{
	width: 100%;
	font-size: 20px;
    color: #0c0000;
    background-color: #78d9e0bf;
}
footer a:hover{
	color: white;
	background-color: #CD853F;
	border-radius: 10px;
	}

/*--------------------DESKTOP VIEW ENDS-----------------*/
/*--------------------TABLET VIEW-----------------------*/	
@media screen and (max-width: 800px) {
body{
	background-color: #F0F8FF;
	margin: 1%;
	padding:1%;
	}

header{
	padding: 20px;
	background-color: #A9A9A9;
	background-image:url("../img/doodle.jpg");
	}

nav{
	box-sizing: border-box;
	overflow: auto;
	}

nav h1{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px; 
	box-sizing: border-box;
	color: white;
   	text-shadow: 2px 2px 4px black;
	}

nav a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;
	}

nav a:hover{
	color: white;
	background-color: #CD853F;
	border-radius: 10px;
	}


#container{
	min-height: 100vh;
	margin-bottom: -30px;
	}

#container:after{
	content: "";
	display: block;
	height: 30px;
	}
footer{
	background-image:url("../img/doodle.jpg");
	text-align: center;
	line-height: 30px;
	}

footer a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	margin-top: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;
	}
footer p{
	width: 100%;
	font-size: 20px;
    color: #0c0000;
    background-color: #78d9e0bf;
}	
}
@media screen and (max-width: 480px){
body{
	background-color: #F0F8FF;;
	margin: 1%;
	padding:1%;
	}
header{
	padding: 20px;
	background-color: #A9A9A9;
	background-image:url("../img/doodle.jpg");
	}
nav a{
	display: none;
    }
.left{
	display: none;

	}
.right{
	display: none;
}	
}
