/*-----------------------------------------------DESKTOP VIEW---------------------------------------*/
body{
	background-color: #F0F8FF;
	margin: 1%;
	padding:1%;
	}

header{
	padding: 20px;
	background-color: #A9A9A9;
	background-image:url("../img/doodle.jpg");
	}

nav{
	box-sizing: border-box;
	overflow: auto;
	}

nav h1{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px; 
	box-sizing: border-box;
	color: white;
   	text-shadow: 2px 2px 4px black;
	}

nav a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;
}
/*hover for nav a*/
nav a:hover{
	color: white;
	background-color: #CD853F;
	border-radius: 10px;
	}
/*a:active {
	background-color: black;
}*/	
.left{
	box-sizing: border-box; 
 	/*background-color: #87CEFA;*/
 	width: 50%;
 	float:left;
 	padding:0;
 	background: linear-gradient(to right, #9933ff 15%,  #f0f8ff 100%) ;
 }
.left img {
	border: solid 5px #e91e639e;
	width: 50%;
	/*height: 30%;*/
	margin-left: 40%;
	margin-top: 10%;
	box-shadow: 10px 10px grey;

}  
.right{
	box-sizing: border-box;
 	margin-top: 10%;
 	display: inline-block;
 	font-size:  30px;
 	margin-bottom: 150px;
 }
.right p{
	font-style: italic;
}
.right h1{
	font-family:cursive; 
}


#container{
	min-height: 100vh;
	margin-bottom: -30px;
}
#container:after{
	content: "";
	display: block;
	height: 30px;
}
footer{
	background-image:url("../img/doodle.jpg");
	text-align: center;
	line-height: 30px;


}

footer a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	margin-top: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;

}
footer p{
	width: 100%;
	font-size: 20px;
    color: #0c0000;
    background-color: #78d9e0bf;
}
/*------------------------------------DESKTOP VIEW ENDS-------------------------------*/
/*-----------------------------------TABLET VIEW---------------*/
@media screen and (max-width: 800px) {
body{
	background-color: #F0F8FF;
	margin: 1%;
	padding:1%;
	}

header{
	padding: 20px;
	background-color: #A9A9A9;
	background-image:url("../img/doodle.jpg");
	}

nav{
	box-sizing: border-box;
	overflow: auto;
	}

nav h1{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 50px; 
	box-sizing: border-box;
	color: white;
   	text-shadow: 2px 2px 4px black;
	}

nav a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;
	}

nav a:hover{
	color: white;
	background-color: #CD853F;
	border-radius: 10px;
	}

.left{
	box-sizing: border-box; 
 	/*background-color: #87CEFA;*/
 	/*width: 50%;
 	margin-left: 5rem;
 	float: left;
 	padding:0;*/
 	text-align: center;
 	margin-top: 5%;
 	background: #F0F8FF ;
 	}

.left img {
	border: solid 2px #e91e639e;
	width: 300px;
	/*height: 30%;*/
	/*margin-left: 40%;*/
	/*margin-top: 5%;*/
	box-shadow: 5px 5px grey;
	height: 400px;
    

	}  
.right{
	box-sizing: border-box;
 	margin-top: 10%;
 	display: inline-block;
 	font-size:  30px;
 	margin-bottom: 150px;
 	}

.right h3{
	font-style: italic;
	}
.right h1{
	font-family:cursive; 
	}

#container{
	min-height: 100vh;
	margin-bottom: -30px;
	}

#container:after{
	content: "";
	display: block;
	height: 30px;
	}
footer{
	background-image:url("../img/doodle.jpg");
	text-align: center;
	line-height: 30px;
	}

footer a{
	text-align: center;
	width: 14%;
	/*margin: 1% 4% 1% 4%;*/
	margin-left: 13%;
	margin-bottom: 4%;
	margin-top: 4%;
	padding: 0.5%;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	background-color: white; 
	color:#CD853F;
	}
footer p{
	width: 100%;
	font-size: 20px;
    color: #0c0000;
    background-color: #78d9e0bf;
} 
}
/*-------------------------TABLET VIEW ENDS-----------*/
/*-------------------------MOBILE VIEW-------------*/
@media screen and (max-width: 480px){
nav a{
	display: none;
}
.left{
	display:none;
	}
body{
	background-color: #F0F8FF;;
	margin: 1%;
	padding:1%;
	}
}
/*---------------------MOBILE VIEW ENDS-----------*/   


